<div class="form">
  <div class="frame">
    <form>
      <p>
        <label for="search">¿Qué quieres saber?</label>
      </p>
      <div class="input-search-left toLeft">
        <input type="text" id="search" class="search" value="Busca para ver si hay alguna pregunta relacionada" size="50"  />
      </div>
      <div class="input-search-right toLeft">
        <input type="submit" class="submit" value="Buscar" />
      </div>
      <div class="type-questions toRight">
        <p><a href="#">Preguntas que se pueden hacer</a></p>
      </div>
    </form>
    <div class="clear"></div>
  </div>
</div>